<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your post</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <h1>Edit your post</h1>
    <div>

        <form method="post" action="http://localhost:8080/post/<%=post.id%>?_method=PATCH">
            <p>ID: <%=post.id%></p>
            <p>USERNAME: @<%= post.name %> </p> 
            <textarea placeholder="Enter text here" cols="40" rows="6" name="content"><%=post.content%></textarea>
            <button>Submit</button>
     
        </form>


        
        
    </div>
    
</body>
</html>