<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/style.css"/>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Individual post</title>
</head>
<body>
    <h1>Here is your details:- </h1>
    <div>
        <p>ID: <%=post.id%></p>
        <h2> @<%= post.name %> </h2> 
        <p> <%= post.content %> </p>    
        
    </div>
</body>
</html>